<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214546683267-etcbvvioresh40giajbrrmqni1kkokbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214546683267-etcbvvioresh40giajbrrmqni1kkokbs</string>
	<key>API_KEY</key>
	<string>AIzaSyDk27WAVeYAnx8jLoztDKtoSuiZ-Xv3uQk</string>
	<key>GCM_SENDER_ID</key>
	<string>214546683267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codegemz.flutlab.login</string>
	<key>PROJECT_ID</key>
	<string>flutter-simple-login</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-simple-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214546683267:ios:6b980c6fc946fa2d2d92b6</string>
</dict>
</plist>